<!DOCTYPE html>
<html>
  <head>
    <title> Credits </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MEAN</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
            <li ><a href="/">What is Mean <span class="sr-only">(current)</span></a></li>
            <li><a href="/install">Installation</a></li>
            <li><a href="/design">Design an app!</a></li>
            <li><a href="/example">TODOs !</a></li>
            <li><a href="/experience">Our Experience with MEAN</a></li>
            <li class="active"><a href="/credits">About Us</a></li>
          </ul>
        </div>
    </nav>

    <h1> Members </h1>
      <hr>
    <div class="jumbotron">
        <div class = "container-fluid">
          <div class="row" style="text-align: center">
            <div class="col-md-4">
              <img src="imgs/nwing.png" alt="Mongo" height="160" width="170">
              <hr>
              <h5> Rishabh Sharma </h5>
              <p style="font-size:15px"> Designed the MEAN Stack todoApp, experience page,css style sheets, and hosted the webpage.
              </p>
            </div>
            <div class="col-md-4">
              <img src="imgs/romy.png" alt="Mongo" height="160" width="160">
              <hr>
              <h5> Ramandeep Johal</h5> Designed the "What is Mean" webpage.
              <p style="font-size:15px">
              </p>
            </div>
            <div class="col-md-4">
              <img src="imgs/abel.png" alt="Mongo" height="160" width="170">
              <hr>
              <h5> Abel MacNeil </h5> Designed the MEAN stack todoApp, and experience webpage, and hosted the webpage.
              <p style="font-size:15px">
              </p>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row" style="text-align: center">
            <div class="col-md-6">
              <img src="imgs/evan.png" alt="Mongo" height="160" width="170">
              <hr>
              <h5> Evan Almeida </h5>
              <p style="font-size:15px"> Designed the "Installation" webpage, and hosted the webpage.
              </p>
            </div>
            <div class="col-md-6">
              <img src="imgs/pasha.png" alt="Mongo" height="160" width="170">
              <hr>
              <h5> Mohammed Pasha</h5>
              <p style="font-size:15px"> Designed the "About Us" webpage.
              </p>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
