<!DOCTYPE html>
<html>
  <head>
    <title> Experience </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MEAN</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
            <li><a href="/">What is Mean <span class="sr-only">(current)</span></a></li>
            <li><a href="/install">Installation</a></li>
            <li><a href="/design">Design an app!</a></li>
            <li><a href="/example">TODOs !</a></li>
            <li class="active"><a href="/experience">Our Experience with MEAN</a></li>
            <li><a href="/credits">About Us</a></li>
          </ul>
        </div>
    </nav>

    <h1> Experience </h1>
      <hr>
      <div class = "container">
        <h3> Our Experience with The MEAN Stack: 9/10 </h3>
        <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 90%"></div>

        </div>
      </div>
    <div class="jumbotron">
        <div class = "container">
          <h2 style="text-align: center"> Difficulty </h2>
          <p style="font-size:19px"> Learning the syntax for the individual components of the MEAN stack was relatively easy, as they
            are all written in Javascript, and share similarities to Java in terms of syntax and semantics. The setup
            for each component was easy and simple, as the MEAN stack website has links explaining how to install
            each component and make a basic app. The difficult part in working with the MEAN stack was learning
            how each component interacts with one another.
          </p>
          <hr>
          <h2 style="text-align: center"> Learning Curve: MEAN vs HTML/CSS </h2>
          <p style="font-size:19px">
              In Our oppinion the MEAN stack can't be compared to HTML/CSS as HTML/CSS focus more on the presentation
              of a page or program, thus learning them was not hard in terms of syntax and function, but harder in terms
              of getting the design to look how we wanted. Whereas the MEAN stack focusses on the functionality of a program/app.
              In comparison the MEAN stack was much harder, and the majority of our difficulties were encountered in linking every
              component to one another. Such as using AngularJs to get the task submitted by the user and send it to the database. Or
              knowing which packages to install with NodeJS's NPM function, or using Express to create the seperate endpoints to link
              the HTML pages together with the application and server in general.
          </p>
          <hr>
          <h2 style="text-align: center"> Remarks</h2>
          <p style="font-size:19px">
              It was fun working with, and learning how to use the MEAN stack as it taught us how to take the knowledge on algorithms
              and writing programs that we learnt from previous courses and applying it to what we learnt in this course. Doing so allowed
              us to create a web application that is dynamic and complex but at the same time one that looks simple and clean, something that
              isn't possible in C or Java. If we would have done anything differently it would have been, trying to add user accounts to our Database
              so the user could log into their own account and view their specific task list as opposed to viewing the general task list.
          </p>
      </div>

    </div>
  </body>

</html>
