<!DOCTYPE html>
<html>
  <head>
      <title> What Is MEAN </title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="styles/styles.css" />
      <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">MEAN</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">What is Mean <span class="sr-only">(current)</span></a></li>
            <li><a href="/install">Installation</a></li>
            <li><a href="/design">Design an app!</a></li>
            <li><a href="/example">TODOs !</a></li>
            <li><a href="/experience">Our Experience with MEAN</a></li>
            <li><a href="/credits">About Us</a></li>
          </ul>
        </div>
    </nav>

    <h1> What is the MEAN Stack? </h1>
      <hr>

    <div class="jumbotron">
        <div class = "container">
        <p>
          The MEAN stack is composed of: Mongo.DB, Express.JS, Angular.JS, & Node.JS, hence the name. The MEAN stack
          is a software stack built entirely on javascript, and is used to build dynamic web applications.
        </p>
      </div>
      <hr>
      <h2 style="text-align: center"> MEAN Stands for: </h1>
      <hr>
      <!--Four containers to outline each individual part of the Mean Stack this will be done
          using a container-fluid div tag.

      -->
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                <img src="imgs/mongo.png" alt="Mongo" height="50" width="160">
                <hr>
                <p style="font-size:90%"> MongoDB is a NoSQL Database, meaning unlike most SQL based databases
                  MongoDB does not use a relational schema.
                 <p>
              </div>
              <div class="col-md-3">
                <img src="imgs/express.png" alt="Express" height="50" width="160">
                <hr>
                <p style="font-size:90%">
                  Express is a node.js based web application framework used to better maintain
                  code and functionality on the server side.
                 <p>
              </div>
              <div class="col-md-3">
                <img src="imgs/angular.png" alt="Angular" height="50" width="160">
                <hr>
                <p style="font-size:90%">
                  Angular is a structural framework used on the client side that allows you to
                  decleare dynamic views for your HTML.
                 <p>
              </div>
              <div class="col-md-3">
                <img src="imgs/nodejs.png" alt="Node" height="50" width="160">
                <hr>
                <p style="font-size:90%">
                  NodeJS is a platform built on Chrome's javascript that can be used to create
                  fast and scalable projects.
                 <p>
              </div>
          </div>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
              <h3> Pro's </h3>
              <hr>
              <ul>
                <li> <mark>MongoDB</mark> Schema-less, Extremelly Fast, NoSQL database </li>
                <li> <mark>AngularJS</mark> Less Needed Code, Extends HTML with Directives, Two-way data binding </li>
                <li> <mark>NodeJS</mark> Uses JavaScript, Growing Community, NPM, Server-Side Applications with JS </li>
              </ul>
          </div>
          <div class="col-md-6">
              <h3> Con's </h3>
              <hr>
              <ul>
                <li> <mark>MongoDB</mark> Large Data size, Joins Don’t Exist, No transaction support </li>
                <li> <mark>AngularJS</mark> Scopes are hard to debug, Steep Learning Curve, Difficult features such as directives </li>
                <li> <mark>NodeJS</mark> Difficult Scalability, Harder to communicate with relational Databases</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
